<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scout</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='pose.css')}}?no-cache=4">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}?no-cache=2">
</head>

<body>
    <!-- <div class="container"> -->
    <div class="container">
        <h1>Scout Control</h1>
        <div class="row">
            <div class="col-8">
                <!-- <video id="hls-video" class="img-fluid" controls autoplay style="max-width: 100%; height: auto;">
                    <source src="/hls/live.m3u8" type="application/vnd.apple.mpegurl">
                </video>
                <p>Slow image</p> -->
                <img id="image-display" alt="Non-Streaming Image">
                <!-- <img id="video-feed" src="/video_feed" alt="Main Camera Feed" class="img-fluid"> -->
            </div>
            <div class="col-4 text-center">
                <div class="panel">
                    <div class="panel-title">Control</div>
                    <div class="panel-content">
                        <div style="display: flex; justify-content: center;">
                            <div id="joyDiv" style="width:200px; height:200px;"></div>
                        </div>
                        <div style="margin-top:20px; text-align:center;">
                            <button id="leftTurnInPlace" class="btn btn-primary">Left</button>
                            <button id="rightTurnInPlace" class="btn btn-primary">Right</button>
                        </div>
                        <div style="margin-top:20px; text-align:center;">
                            <!-- Input field for distance -->
                            <input
                                type="text"
                                id="distanceInput"
                                placeholder="meters"
                                style="width: 100px; text-align: center; margin-right: 10px;"
                            />
                            <button id="goDistanceButton" class="btn btn-success">Go</button>
                            <div id="confirmationMessage" style="margin-top:10px; font-size:14px; color:green; display:none;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row my-4">
            <!-- First Row -->
            <div class="col-md-4">
                <div class="panel">
                  <div class="panel-title">Core Status</div>
                  <div class="panel-content">
                    <span id="core-status-cpu-temp" >CPU Temp: --°C</span>
                    <span id="core-status-uptime">Uptime: --V</span>
                   
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="panel">
                  <div class="panel-title">Odometry</div>
                  <div class="panel-content">
                      <span id="odom-distance" >Distance: --M</span>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="panel">
                  <div class="panel-title">Camera</div>
                  <div class="panel-content">
                      <span id="pan_angle" >Pan: --˚</span>
                      <span id="tilt_angle" >Tilt: --˚</span>
                      <div style="margin-top:20px; display: flex; flex-direction: column; align-items: center; gap: 10px;">
                        <!-- Up button -->
                        <button id="upMastPanButton" class="btn btn-secondary">Up</button>
                        <div style="display: flex; gap: 10px;">
                          <!-- Left, Center, Right buttons -->
                          <button id="leftMastPanButton" class="btn btn-secondary">Left</button>
                          <button id="centerMastPanButton" class="btn btn-secondary">O</button>
                          <button id="rightMastPanButton" class="btn btn-secondary">Right</button>
                        </div>
                        <!-- Down button -->
                        <button id="downMastPanButton" class="btn btn-secondary">Down</button>
                      </div>
                  </div>
                </div>
              </div>
        
        </div>

        <div class="row my-4">
            
            <div class="col-md-4">
              <div class="panel">
                <div class="panel-title">Battery</div>
                <div class="panel-content">
                  <span id="core-status-voltage">Voltage: --V</span>
                  <span id="battery-amps">Amps: --A</span>
                </div>
              </div>
            </div>
          </div>
        
        <div class="row">
          
                <div class="col-1 right-align">
                    <div class="wheel" id="FL"></div>
                    <div class="space">
                        <div class="left-angle-top">
                            <p class="smaller"><span id="FL-angle">-</span>˚</p>
                        </div>
                    </div>
                    <div class="wheel" id="ML"></div>
                    <div class="space">
                        <div class="left-angle-bottom">
                            <p class="smaller"><span id="BL-angle">-</span>˚</p>
                        </div>
                    </div>
                    <div class="wheel" id="BL"></div>
                    <p class="color-wheel"><span id="left-speeds">-</span>%</p>
                </div>
                <div class="col-1 center-align top-align">
                    <div class="main-frame"></div>
                </div>
                <div class="col-1 flex-container left-align">
                    <div class="wheel" id="FR"></div>
                    <div class="space">
                        <div class="right-angle-top">
                            <p class="smaller"><span id="FR-angle">-</span>˚</p>
                        </div>
                    </div>
                    <div class="wheel" id="MR"></div>
                    <div class="space">
                        <div class="right-angle-bottom">
                            <p class="smaller"><span id="BR-angle">-</span>˚</p>
                        </div>
                    </div>
                    <div class="wheel" id="BR"></div>
                    <p class="color-wheel"><span id="right-speeds">-</span>%</p>
                </div>
            </div>
            
            <!-- <div class="col-2 bottom-align">
                <p class="angle-text" id="angle0"><span id="angle-0">-</span>˚</p>
                <div class="base">
                    <div class="arm_segment" id="segment1">
                        <div class="arm_segment" id="segment2">
                            <div class="camera"></div>
                        </div>
                        <p class="angle-text"><span id="angle-2">-</span>˚</p>
                        <p class="angle-text" id="angle1"><span id="angle-1">-</span>˚</p>
                    </div>
                </div>  
            </div> -->
        
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pako/2.0.4/pako.min.js"></script>
    <script src="{{ url_for('static', filename='data.js') }}?no-cache=20-1050"></script>
    <script src="{{ url_for('static', filename='joy.js') }}"></script>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
   
    <script src="{{ url_for('static', filename='urdf.js') }}"></script>
</body> 
</html>